[mysql]
port                            = 3306

[mysqld]
# Required Settings
bind_address                    = 127.0.0.1
max_allowed_packet              = 256M
port                            = 3306
open_files_limit                = 5000
skip_external_locking

interactive_timeout             = 180
wait_timeout                    = 180

[mysqldump]
quick
quote_names
max_allowed_packet              = 256M
